<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJHczxH2hXVZXAHuFfQ90rkUSgqOZ_3oI</string>
	<key>GCM_SENDER_ID</key>
	<string>97372292843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bongontandbingint.risengrind</string>
	<key>PROJECT_ID</key>
	<string>rise-n-g</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-n-g.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97372292843:ios:5091cf102d7801ab8f20ae</string>
	<key>DATABASE_URL</key>
	<string>https://rise-n-g-default-rtdb.firebaseio.com</string>
</dict>
</plist>